/* AUTUMN-THEME*/
:root {
    -bg-main: #DDCFBB;
    -bg-secondary: #FBE3C8;
    -bg-card: #FFF0DC;
    -bg-scroll-bar: #F2C38A;
    -button-main: #D88C3C;
    -button-main-hover: #CD8335;
    -button-secondary-hover: #F2C38A;
}