/* START-SCENE  */
#title {
    -fx-font-family: "Forte";
    -fx-font-size: 60px;
    -fx-padding: 0 0 40px 0 ;
}
#startPane, #mainMenuPane {
    -fx-background-color: -bg-main;
}
#contactPane, #themePane {
    -fx-background-color: -bg-secondary;
 }
/* CONTACTS-SCENE */
TextField {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent transparent #000  transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-font-size:16px;
    -fx-prompt-text-fill: #000;
    -fx-text-fill:#000;
    -fx-font-family:"Elephant";
}
.model-ButtonA {
    -fx-padding: 10px 15px 10px 15px;
    -fx-font-size: 20px;
    -fx-background-radius: 8px;
    -fx-background-color: -bg-card;
    -fx-font-family:"Elephant"
}
.model-ButtonA:hover{
    -fx-cursor:hand;
    -fx-background-color: -button-main-hover;
}
.model-BottonB {
    -fx-background-color: transparent;
    -fx-focus-color:transparent;
    -fx-faint-focus-color: transparent;
}
.model-BottonB:hover {
    -fx-cursor:hand;
    -fx-background-color: -button-secondary-hover;
}
.model-LabelA {
    -fx-font-size: 16px;
    -fx-font-family: "Elephant";
}
.model-LabelB {
    -fx-font-size:20px;
    -fx-font-family: "Elephant";
    -fx-text-fill:#000;
}
#selectionPhoto:hover {
    cursor:hand;
}
.contact, .info{
    -fx-background-color: -bg-card;
    -fx-background-radius: 8px;
    -fx-font-family: "Elephant";
    -fx-font-size: 18px;
    -fx-padding: 10px 20px 10px 20px;
}
.contact:hover {
    -fx-background-color: -button-main-hover;
}
.option:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.6;
}
/* SCROLL-AREA */
ScrollPane {
    -fx-background-color: transparent;
}
ScrollPane > .viewport {
    -fx-background-color: transparent;
}
ScrollPane > .scroll-bar:vertical {
    -fx-background-color: transparent;
}
ScrollPane > .scroll-bar:vertical .track {
    -fx-background-color: -bg-scroll-bar;
}
ScrollPane > .scroll-bar:vertical .thumb {
    -fx-background-color: -bg-main;
    -fx-background-radius: 5;
}
ScrollPane > .scroll-bar:vertical .thumb:hover {
    -fx-background-color:  -button-main-hover;
}

