/* START-SCENE  */
#title {
    -fx-font-family: "Forte";
    -fx-font-size: 60px;
    -fx-padding: 0 0 40px 0 ;
}
#startPane, #mainMenuPane {
    -fx-background-color: #7963B5;
}
#contactPane {
    -fx-background-color: #8F63B5;
 }
/* CONTACTS-SCENE */
TextField {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent transparent #000  transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-font-size:16px;
    -fx-prompt-text-fill: #000;
    -fx-text-fill:#000;
    -fx-font-family:"Elephant";
}
.model-ButtonA {
    -fx-padding: 10px 15px 10px 15px;
    -fx-font-size: 20px;
    -fx-background-radius: 8px;
    -fx-background-color: #D3D5F5;
    -fx-font-family:"Elephant"
}
.model-ButtonA:hover{
    -fx-cursor:hand;
    -fx-background-color: #7E82D1;
}
.model-BottonB {
    -fx-background-color: transparent;
    -fx-focus-color:transparent;
    -fx-faint-focus-color: transparent;
}
.model-BottonB:hover {
    -fx-cursor:hand;
    -fx-background-color: #8645BE ;
}
.model-LabelA {
    -fx-font-size: 16px;
    -fx-font-family: "Elephant";
}
#selectionPhoto:hover {
    cursor:hand;
}
.contact, .info{
    -fx-background-color: #D3D5F5;
    -fx-background-radius: 8px;
    -fx-font-family: "Elephant";
    -fx-font-size: 18px;
    -fx-padding: 10px 20px 10px 20px;
}
.contact:hover {
    -fx-background-color: #AE82D1;
}
.option:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.6;
}
/* SCROLL-AREA */
ScrollPane {
    -fx-background-color: transparent;
}
ScrollPane > .viewport {
    -fx-background-color: transparent;
}

