/* SPRING-THEME */
:root {
    -bg-main: #A1C39B;
    -bg-secondary: #97D997;
    -bg-card: #FFFFFF;
    -bg-scroll-bar: #C2E5D0;
    -button-main: #7EC8A4;
    -button-main-hover: #5FB388;
    -button-secondary-hover: #C2E5D0;
   }