/* SUMMER-THEME */
:root {
    -bg-main: #A8C7D4;
    -bg-secondary: #CDEBFF;
    -bg-card: #FFFFFF;
    -bg-scroll-bar: #B5DFFF;
    -button-main: #35A9E0;
    -button-main-hover: #1E8AC2;
    -button-secondary-hover: #B5DFFF;
}